

<div class="navbar">
    <div class="navbar-inner">
      <div class="left"> </div>
      <div class="center">Register</div>
      <div class="right"></div>
    </div>
  </div>
<div class="pages">
<div class="page navbar-fixed" data-page="Register">
    <div class="page-content">
    <div class="content-block-title">Your informations</div>
          <div class="list-block">
            <ul>
            
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
           <%= devise_error_messages! %>

           <li>
                 <div class="item-content">
                   <div class="item-inner">
                     <div class="item-title label"><%= f.label :first_name %></div>
                     <div class="item-input">
                       <%= f.text_field :first_name, :placeholder => 'first name' %>
                     </div>
                   </div>
                 </div>
            </li>
            <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label"><%= f.label :last_name %></div>
                      <div class="item-input">
                        <%= f.text_field :last_name, :placeholder => 'Last name' %>
                      </div>
                    </div>
                  </div>
             </li>
              
             <li>
                   <label class="label-radio item-content">
                     <!-- Checked by default -->
                     <%= f.radio_button :is_female, false, :checked => true %> 
                     <div class="item-inner">
                     <%= f.label :is_female, "Male" %>
                     </div>
                   </label>
              </li>
                 <!-- Another radio input -->
                 <li>
                   <label class="label-radio item-content">
                     <!-- Checked by default -->
                     <%= f.radio_button :is_female, true %>
                     <div class="item-inner">
                      <%= f.label :is_female, "Female" %>
                     </div>
                   </label>
                 </li>
              <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label"><%= f.label :date_of_birth %></div>
                        <div class="item-input">
                          <%= f.date_select :date_of_birth, :placeholder => 'birth date' %>
                        </div>
                      </div>
                    </div>
              </li>
              <li>
                   <div class="item-content">
                     <div class="item-inner">
                       <div class="item-title label"><%= f.label :email %></div>
                       <div class="item-input">
                        <%= f.email_field :email, :placeholder => 'email' %>
                       </div>
                     </div>
                   </div>
               </li>
               <li>
                   <div class="item-content">
                     <div class="item-inner">
                       <div class="item-title label"><%= f.label :password %></div>
                       <div class="item-input">
                        <%= f.password_field :password, autocomplete: "off" %>
                       </div>
                     </div>
                   </div>
               </li>
               <li>
                   <div class="item-content">
                     <div class="item-inner">
                       <div class="item-title label"><%= f.label :password_confirmation %></div>
                       <div class="item-input">
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                       </div>
                     </div>
                   </div>
               </li>
            
           <div class="content-block">

           <%= f.submit "Create", :class => 'button button-big button-fill' %>
           </div>
           </ul>
           <% end %>
            
          </div>        
     </div> 
  </div>
  </div>

