<div class="navbar theme-white">
   <div class="navbar-inner">
      <div class="left sliding">
         <%= link_to( raw('<i class="icon icon-back"></i>'), @user, { :class => "link icon-only back", "data-reload" => 'true', "data-ignoreCache" => 'true', "data-forceUrl" => 'true'  } ) %>
      </div>
      <div class="center sliding">Followers</div>
      <div class="right"></div>
   </div>
</div>


<div class="pages navbar-through toolbar-through">
  <div class='page'>
    <div class='page-content follow'>
      <div class='list-block'>
        <ul>
          <% @received_invites.each do |invitation|  %>
              
              <li class="item-content">
                   <div class="item-media"><p class="round-image-25 list-image" style="background : url('<%= invitation.inviting_user.avatar.url(:medium) %>') no-repeat center center; "></p></div>
                   <div class="item-inner">
                   <%= link_to user_path(invitation.inviting_user), {:class=>""} do %>
                     <div class="item-title"><%= invitation.inviting_user.first_name + " " + invitation.inviting_user.last_name %></div>
                     <% end %>
                     <% if @user == current_user %>
                     <div class="item-after">
                     <% if User.is_following(@user, invitation.inviting_user) %>
                     <a class="button button-round active" relationship-id="<%= @user.sent_invites.where(invited_id: invitation.inviting_user.id).first.id %>"><i class="fa fa-check"></i> Followed</a>
                     <% else %>
                     <!-- <a class="button button-round black" invited-id="<%= invitation.inviting_user.id %>"> Not Followed</a> -->
                     <% end %>
                     </div>
                     <% end %>
                   </div>
              </li>
              
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>